<section class="user-form">
  <h1>Edit Item:</h1>
  <form action="/items/<%= @item.id %>" method="post">
    <table>
      <tr>
        <td>
          <input type="hidden" name="_method" value="put">
          <label for="title">Title:</label>
        </td>
        <td> 
          <input type="text" name="title" id="title" value="<%= @item.title %>">
        </td>
      </tr>
      <tr>
        <td> 
          <label for="price">Price:</label>
        </td>
        <td> 
          <input type="text" name="price" id="price" value="<%= @item.formatted_price %>">
        </td>
      </tr>
      <tr>
        <td>
          <label for="condition">Condition:</label>
        </td>
        <td>
          <input type="text" name="condition" id="condition" value="<%= @item.condition %>">
        </td>
      </tr>
      <tr>
        <td>
          <label for="description">Description:</label>
        </td>
        <td>
          <textarea name="description" id="description" cols="30" rows="4"><%= @item.description %></textarea>
        </td>
      </tr>
      <tr>
        <td>
    <!-- <label for="life_span">Time Limit:</label> -->
          <input type="hidden" name="life_span" id="life_span" value="<%= @item.life_span %>">
    <!-- <br> -->
          <label for="latitude">Latitude:</label>
        </td>
        <td>
          <input type="text" name="latitude" id="latitude" value="<%= @item.latitude %>">
        </td>
      </tr>
      <tr>
        <td>
          <label for="longitude">Longitude:</label>
        </td>
        <td>
          <input type="text" name="longitude" id="longitude" value="<%= @item.longitude %>">
        </td>
      </tr>
    </table>
    <br>
    <button class="button">Submit</button>
  </form>
</section>