<h1 class="items-heading">Available Items:</h1>

<% @items.each do |item| %>
<div class="item-in-list">
  <details>
  <summary><a href="/items/<%= item.id %>"><%= item.title %></a> 
    <span class="price"><%= item.formatted_price %></span> 
    <span class="location"><%= item.latitude %>,<%=  item.longitude %></span>
  </summary>
    <p>Posted by (<%= item.user.name %>) <%= item.age %> ago</p>
    
    <% if logged_in? %>
      <% if item.user == current_user %>
        <form action="/items/<%= item.id %>" method="post">
          <a href="/items/<%= item.id %>/edit" class="button">Edit</a>
          <input type="hidden" name="_method" value="delete">
          <button class="button">Delete</button>
        </form> 
      <% else %>
        <a href="/items/<%= item.id %>/buy" class="buy">Buy</a>
      <% end %>
    <% else %>
      <a href="/items/<%= item.id %>/buy" class="buy">Buy</a>
    <% end %>

  </details>

  </p>
</div>
<% end %>